{% extends 'layout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="list-group-item-text">
                    <h3>Тестовое задание для junior php developer</h3>
                    <p>Представим ситуацию, у нас есть платформа торговли (товары, продукты,
                        цифровой контент), и требуется реализовать удобный интерфейс
                        управления ценами и скидками на каждый продукт:</p>
                    <ul>
                        <li>Продукт «Школьная форма»</li>
                        <ul>
                            <li>Цена по умолчанию 10000 руб.</li>
                            <li>В период с 01.01.2016 установить цену 8000.</li>
                            <li>В период с 01.05.2016 по 01.01.2017 установить цену
                                12000.</li>
                            <li>В период с 01.07.2016 по 10.09.2016 года установить
                                цену 15000.</li>
                            <li>В период с 1.06.2017 по 20.10.2017 года установить
                                цену 20000.</li>
                            <li>В период с 15.12.2017 по 31.12.2017 установить цену
                                5000.</li>
                        </ul>
                        <li>Реализовать простой и удобный интерфейс управления
                            изменением цены у продукта.</li>
                        <li>Реализовать архитектуру базы данных (таблицы, столбцы,
                            типы, связи, ключи)</li>
                        <li>Поскольку, возможны пересечения и наложения интервалов,
                            реализовать 2 способа определения цены на любой день:</li>
                        <ul>
                            <li>
                                Приоритетнее цена с меньшим периодом действия
                                (цена на 1 месяц приоритетнее цены установленной на
                                1 год)
                            </li>
                            <li>Приоритетнее цена, установленная позднее (используя
                                сортировку)</li>
                        </ul>
                        <li>Реализовать вывод графиков по обоим типам.</li>
                    </ul>

                    <p>Разработанный проект выложить в публичный доступ на
                        github/bitbucket/…</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}