.block {
    display: block;
    position: relative;
    width: 295px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.product {
    display: block;
    position: relative;
}

.product img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.info {
    display: block;
    position: relative;
    padding: 20px;
}

.details {
    border-top: 1px solid #e5e5e5;
    padding: 18px 20px;
}

.info::after {
    display: block;
    position: absolute;
    top: -12px;
    left: 23px;
    content: "";
    width: 15px;
    height: 15px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.info h4 {
    position: relative;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #372f2b;
    letter-spacing: -1px;
}

.info h4::after {
    display: block;
    position: absolute;
    bottom: 0px;
    content: "";
    width: 40px;
    height: 2px;
    background: #3b86c4;
}

.info .description {
    display: block;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #5f5f5f;
}

.info .price {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #372f2b;
    line-height: 26px;
}

.buy_now {
    text-align: center;
    position: relative;
    top: -5px;
    display: block;
    padding: 10px 10px;
    border-radius: 3px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .4);

    background: #286398;
    background: -webkit-linear-gradient(bottom, #1d4970, #639ed3);
    background: -ms-linear-gradient(bottom, #286398, #639ed3);
    background: -moz-linear-gradient(bottom, #286398, #639ed3);
    background: -o-linear-gradient(bottom, #286398, #639ed3);
    background-position: 0 -15px;
    background-size: 400px 80px;
    background-repeat: no-repeat;

    -webkit-transition: background-position .2s ease-in;
    -moz-transition: background-position .2s ease-in;
    -o-transition: background-position .2s ease-in;
    transition: background-position .2s ease-in;

    box-shadow: 0 2px 0 #165181;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE;
    -moz-use-text-color: #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}

/*show*/
.top-buffer {
    margin-top: 25%;
}

#footer {
    border-top: 1px solid #ccc;
    clear: both;
    text-align: center;
    padding: 10px;
    color: #aaa;
}

/*admin*/
table.table_admin {
    border-collapse: collapse;
    text-align: center;
}
.table_admin tr {
    background-color: white;
    text-align: center;
}
.table_admin tr:hover {
    background-color: #FEFFEA;
}
.table_admin th {
    background-color: #F7E5A1;
    text-align: center;
}

.table_admin td:hover {
    cursor: pointer;
}

/*accordion*/
.bs-example{
    margin: 20px;
}
.panel-title .glyphicon{
    font-size: 14px;
}